@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";



* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


body {
  @apply relative overflow-x-hidden;
  padding: 20px 0px;
  width: 100vw;

}

.bg-pattern {
  position: absolute;
  inset: 0;
  z-index: -10;
  opacity: 0.3;
}

.marquee-inner {
  animation: marqueeScroll 15s linear infinite;
}

.marquee-inner-testimonials {
  animation: marqueeScroll 35s linear infinite;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

html {
  scroll-behavior: smooth;
}